* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: silver;
}

header:hover {
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    transition: 1s;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px solid white;

    a {
        color: red;
        transition: 1s;
    }
}

header {
    width: 80%;
    height: 70px;
    background: rgba(255, 255, 255, 0.377);
    border-radius: 20px;
    position: fixed;
    top: 5%;
    left: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid white;
    transition: 1s;

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 200%;
                    color: silver;

                    a {
                        text-decoration: none;
                        color: black;
                        font-family: sans-serif;
                    }
                }
            }
        }
    }
}

.main:hover {
    transition: 1s;
}

.main {
    width: 80%;
    height: auto;
    padding: 3%;
    /* background: rgba(255, 255, 255, 0.377); */
    background: black;
    color: white;
    border: 2px solid white;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 20px;
    transition: 1s;

    h1 {
        text-align: center;
        font-family: sans-serif;
        padding-bottom: 2%;
    }

    p {
        font-size: 15px;
    }
}

.asosiy-main {
    height: 500px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 1%;


    .cart {
        width: 9%;
        height: 112px;
        background: silver;
        border-radius: 20px;
        transition: 1s;
        cursor: pointer;
        border: 2px solid black;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: black;
            font-size: 20px;
            text-align: center;
            transition: 1s;
        }
    }

    .main-cart:hover {
        width: 10%;
        height: 120px;
        transition: 1s;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0);
        border: 2px solid white;

        a {
            color: white;
            transition: 1s;
        }
    }
    
}














@media only screen and (max-width:500px) {
    .main {
        width: 90%;
        margin-left: 5%;
        margin-top: 15%;
        height: 800px;
    }

    .asosiy-main {
        display: grid;
        height: 1200px;
        padding: 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5%;
        margin-top: 50%;

        .cart {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }

        .cart:hover {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }
    }

    .main {
        height: auto;
    }

    .asosiy-main {
        height: 1500px;
    }










}



@media only screen and (max-width:700px) {
    .main {
        width: 90%;
        margin-left: 5%;
        margin-top: 15%;
        height: 800px;
    }

    .asosiy-main {
        display: grid;
        height: 1200px;
        padding: 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5%;
        margin-top: 50%;

        .cart {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }

        .cart:hover {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }
    }

    .main {
        height: auto;
    }

    .asosiy-main {
        height: 1500px;
    }





}



@media only screen and (max-width:950px) {
    .main {
        width: 90%;
        margin-left: 5%;
        margin-top: 15%;
        height: 800px;
    }

    .asosiy-main {
        display: grid;
        height: 1200px;
        padding: 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5%;
        margin-top: 50%;

        .cart {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }

        .cart:hover {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }
    }

    .main {
        height: auto;
    }

    .asosiy-main {
        height: 1500px;
    }










}