* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: silver;
}

header:hover {
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    transition: 1s;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px solid white;
    background: silver;

    a {
        color: white;
        transition: 1s;
    }
}

header {
    width: 80%;
    height: 70px;
    background: rgba(255, 255, 255, 0.377);
    border-radius: 20px;
    position: fixed;
    top: 5%;
    left: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid white;
    transition: 1s;

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 200%;
                    color: silver;

                    a {
                        text-decoration: none;
                        color: black;
                        font-family: sans-serif;
                    }
                }
            }
        }
    }
}

.main:hover {
    transition: 1s;
}

.main {
    width: 80%;
    height: auto;
    padding: 3%;
    /* background: rgba(255, 255, 255, 0.377); */
    background: black;
    color: white;
    border: 2px solid white;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 20px;
    transition: 1s;

    h1 {
        text-align: center;
        font-family: sans-serif;
        padding-bottom: 2%;
    }

    p {
        font-size: 15px;
    }
}

.asosiy-main {
    height: 500px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 1%;

    .cart:hover {
        .a1 {
            display: none;
            transition: 1s;
        }

        .a2 {
            display: flex;
            transition: 1s;
        }
    }

    .cart {
        width: 9%;
        height: 112px;
        background: silver;
        border-radius: 20px;
        transition: 1s;
        cursor: pointer;
        border: 2px solid black;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: black;
            font-size: 20px;
            text-align: center;
            transition: 1s;
        }

        .a1 {
            display: flex;
            transition: 1s;
        }

        .a2 {
            display: none;
            transition: 1s;
        }
    }

    .main-cart:hover {
        width: 10%;
        height: 120px;
        transition: 1s;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0);
        border: 2px solid white;

        a {
            color: white;
            transition: 1s;
        }
    }

}







footer {
    width: 80%;
    height: 70px;
    background: rgba(255, 255, 255, 0.377);
    display: flex;
    align-content: center;
    justify-content: space-around;
    border: 2px solid white;
    position: fixed;
    top: 90%;
    left: 10%;
    color: black;
    border-radius: 20px;
    font-family: sans-serif;

    >.right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        img {
            height: 70%;
            border-radius: 10px;
        }
    }
}







#m40 {
    margin-bottom: 20%;
}


/* From Uiverse.io by david-mohseni */
.loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
}

.loader div {
    width: 8%;
    height: 24%;
    background: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    animation: fade458 1s linear infinite;
}

@keyframes fade458 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}

.loader {
    margin-left: 40%;

    .bar1 {
        transform: rotate(0deg) translate(0, -130%);
        animation-delay: 0s;
    }

    .bar2 {
        transform: rotate(30deg) translate(0, -130%);
        animation-delay: -1.1s;
    }

    .bar3 {
        transform: rotate(60deg) translate(0, -130%);
        animation-delay: -1s;
    }

    .bar4 {
        transform: rotate(90deg) translate(0, -130%);
        animation-delay: -0.9s;
    }

    .bar5 {
        transform: rotate(120deg) translate(0, -130%);
        animation-delay: -0.8s;
    }

    .bar6 {
        transform: rotate(150deg) translate(0, -130%);
        animation-delay: -0.7s;
    }

    .bar7 {
        transform: rotate(180deg) translate(0, -130%);
        animation-delay: -0.6s;
    }

    .bar8 {
        transform: rotate(210deg) translate(0, -130%);
        animation-delay: -0.5s;
    }

    .bar9 {
        transform: rotate(240deg) translate(0, -130%);
        animation-delay: -0.4s;
    }

    .bar10 {
        transform: rotate(270deg) translate(0, -130%);
        animation-delay: -0.3s;
    }

    .bar11 {
        transform: rotate(300deg) translate(0, -130%);
        animation-delay: -0.2s;
    }

    .bar12 {
        transform: rotate(330deg) translate(0, -130%);
        animation-delay: -0.1s;
    }
}

@media only screen and (max-width:500px) {
    .main {
        width: 90%;
        margin-left: 5%;
        margin-top: 15%;
        height: 800px;
    }

    .asosiy-main {
        display: grid;
        height: 1200px;
        padding: 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5%;
        margin-top: 50%;
        transition: 1s;


        .cart {
            width: 100%;
            height: 100%;
            transition: 1s;
            margin-top: 0px;

            .a2{
                font-size: 10px;
            }

        }

        .cart:hover {
            width: 100%;
            height: 50px;
            margin-top: 0px;
            transition: 1s;

        }
    }

    .main {
        height: auto;
    }

    .asosiy-main {
        height: 1500px;
    }



    footer {
        position: relative;
        display: block;
        height: auto;
        padding: 5%;

        .left {
            margin-top: 2%;
            text-align: center;
        }
    }






}



@media only screen and (max-width:700px) {
    .main {
        width: 90%;
        margin-left: 5%;
        margin-top: 15%;
        height: 800px;
    }

    .asosiy-main {
        display: grid;
        height: 1200px;
        padding: 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5%;
        margin-top: 50%;

        .cart {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }

        .cart:hover {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }
    }

    .main {
        height: auto;
    }

    .asosiy-main {
        height: 1500px;
    }

    footer {
        position: relative;
        display: block;
        height: auto;
        padding: 5%;

        .left {
            margin-top: 2%;
            text-align: center;
        }
    }



}



@media only screen and (max-width:950px) {
    .main {
        width: 90%;
        margin-left: 5%;
        margin-top: 15%;
        height: 800px;
    }

    .asosiy-main {
        display: grid;
        height: 1200px;
        padding: 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5%;
        margin-top: 50%;

        .cart {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }

        .cart:hover {
            width: 100%;
            height: 50px;
            margin-top: 0px;
        }
    }

    .main {
        height: auto;
    }

    .asosiy-main {
        height: 1500px;
    }



    footer {
        position: relative;
        display: block;
        height: auto;
        padding: 5%;

        .left {
            margin-top: 2%;
            text-align: center;
        }
    }






}